body {
  text-align: center;
  background-color: #36BFD5;
}

p {
  color: black;
  font-family: 'Charmonman', cursive;
  font-size: 17px;
}

h1 {
  color: black;
  font-size: 45px;
}

a {
  color: #CC0B28;
    border-bottom: 2px dotted transparent;
    font-size: 25px;
}

h2 {
  color: #FE941C;
  font-family: 'Charm', cursive;
  font-size: 30px;
}





.Instructions {
  background-color: #9DFDFD;
  width: 800px;
border-radius: 25px 25px 25px 25px;
  margin: 0 auto;
  border: double #FE941C;
  
}
  
  .game {
    border: double #FE941C;
    border-radius: 25px 25px 25px 25px;
    margin: 0 auto;
    width: 800px;
    background-color: #9DFDFD;

  }

  footer {
    text-transform: uppercase;
    padding: 0 20px;
    background-color: #0d2c40;
    color: white;
    font-size: 14px;
    letter-spacing: .08em;
    font-weight: 500;

  }

  .copyright {
    float: left;
  }

.message {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
  font-size: 0;

}

.name {
  color: #f15b31;
  font-weight: 700;

}

a:hover {
  border-color: #36BFD5;
}

nav {
  background-color: #FE941C;
  padding: 20px;
  margin: 0 auto;
}

.Instructions:hover {
  background-color: white;
}

.game:hover {
  background-color: white;
}